# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/
.venv/

# Node/Frontend
node_modules/
client/node_modules/
client/dist/
.DS_Store

# Project Specific
output/
invoice_log.csv
invoices.csv
*.spec
build/
dist/

# Editor
.vscode/
.idea/
*.swp
